# MongoDB Connection String
# Your MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://thabuthavanesan:vV3h56cTA72JpsMa@cluster0.5r8jyna.mongodb.net/rider-management?retryWrites=true&w=majority&appName=Cluster0

# Server Configuration
PORT=5001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
